<header id="carouselIndicators" class="carousel slide" data-ride="carousel" data-pause="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active first-slide"></div>
      <div class="carousel-item second-slide"></div>
      <div class="carousel-item third-slide"></div>
    </div>
</header>

<div class="container title">
    <div class="jumbotron xs-10 sm-10 md-4">
        <h1>Welcome to Angular 11</h1>
        <p class="lead">
            This Demo shows what we can do with the new version of Angular
        </p>
        <a class="btn btn-lg btn-primary" (click)="goToDemo()" role="button">View skills</a>
    </div>
</div>