h4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    border-bottom: 1px solid lightgray;
}

.input-name {
    margin-bottom: 20px;
    
    .form-btn {
        display: flex;
    
        input {
            width: 250px;
            margin-right: 10px;
        }
    }
}
