<div class="container" id="demo">
        <div class="col-md-4 feature-card" *ngFor="let feature of features">
            <a routerLink="/{{ feature.link }}">
                <div class="card">
                    <div class="card-header" [style.background]="'url(' + feature.image + ')'">
                    </div>
                    
                    <div class="card-body">
                        <div class="card-title">
                            <h5 [style.color]="feature.color">{{ feature.name }}</h5>
                            <i class="{{ feature.icon }} icon" [style.color]="feature.color"></i>
                        </div>
    
                        <hr>
    
                        <p class="card-text">{{ feature.description }}</p>
                    </div>
                </div>
            </a>
        </div>
</div>
