.property-binding, .event-binding, .two-way-binding {
    margin-bottom: 30px;
}

h4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    border-bottom: 1px solid lightgray;
}

h5 {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.card {
    margin-bottom: 10px;
}

.event {
    display: flex;
    align-items: center;

    button {
        margin-right: 20px;
    }

    i {
        font-size: 30px;
    }
}