<div class="pt-3">
    <div class="jumbotron">
        <h4 class="display-4">Input - Output</h4>
        <p class="lead">"A common pattern in Angular is sharing data between a parent component and one or more child components."</p>
        <p class="quote">- Angular.io -</p>
    </div>

    <div>
        <div class="input-name">
            <h5>Hello Stranger... What's your name ?</h5>
            <div class="form-btn">
            </div>
        </div>

        <div class="last">
            <h5>Great to see you again !</h5>
            <p>Angular interpolation is used to display a component property in the respective view template with double curly braces syntax. 
                You can display all kind of properties data into view e.g. string, number, date, arrays, list or map.
            </p>
            <p>Example: &#123; &#123; property &#125; &#125;</p>
        </div>
    </div>
</div>