#directives {
    padding: 100px 10px 70px;
}

h3 {
    margin-right: 15px;
}

h4 {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.nav-pills .nav-link {
    color: darkgray;
}

.nav-pills .nav-link.active {
    color: white;
}
